<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Articles</title>
</head>
<body>
    <div class="ui secondary  menu">
        <div class="left menu">
            <div class="ui huge header">
                <a class="item" href="{% url 'home' %}">
                    Articles
                </a>
            </div>
        </div>
      <a class="item" href="{% url 'article_list' %}">
        Articles
      </a>
      <a class="item" href="{% url 'article_new' %}">
        + New Article
      </a>
        <a class="item" href="">
        About
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        {% if user.is_authenticated %}
            <div class="item">
                <div class="ui compact menu">
                  <div class="ui simple dropdown item">
                    {{ user.username }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item"><a href="{% url 'password_change' %}">Change Password</a></div>
                    </div>
                  </div>
                </div>
            </div>
            <a class="ui item" href="{% url 'logout' %}">
                Logout
            </a>
          {% else %}
            <a class="ui item" href="{% url 'login' %}">
                Login
            </a>
            <a class="ui item" href="{% url 'signup' %}">
                Signup
            </a>
          {% endif %}
      </div>
    </div>
    <div class="ui container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>